<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>IQuiz</h3>
                <p>Лучшие барные викторины в вашем городе. Присоединяйтесь к нашему интеллектуальному сообществу!</p>
                <div class="social-links">
                    <a href="https://vk.com/iquizchel" target="_blank"><i class="fab fa-vk"></i></a>
                </div>
            </div>

            <div class="footer-column">
                <h3>Навигация</h3>
                <ul>
                    <li><a href="/"><i class="fas fa-chevron-right"></i> Главная</a></li>
                    <li><a href="/quiz-list.html"><i class="fas fa-chevron-right"></i> Все квизы</a></li>
                    <li><a href="/rating.html"><i class="fas fa-chevron-right"></i> Рейтинги команд</a></li>
                    <li><a href="/rules.html"><i class="fas fa-chevron-right"></i> Правила участия</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Сотрудничество</h3>
                <ul>
                    <li><a href="/maintance"><i class="fas fa-chevron-right"></i> Партнеры</a></li>
                    <li><a href="/maintance"><i class="fas fa-chevron-right"></i> Сотрудничество</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Контакты</h3>
                <ul>
                    <li><i class="fas fa-envelope"></i> info@i-quiz.ru</li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>© 2026 IQuiz</p>
        </div>
    </div>
</footer>

<script src="//api-maps.yandex.ru/2.1/?apikey=58f61641-0027-42b9-992f-d44aad687fc3&amp;lang=ru_RU"></script>
<script src="/js/main.js"></script>