<div class="quiz-card">
    <img src="/images/quiz1.png" alt="" class="quiz-card-image">
    <div class="quiz-card-content">
        <div class="quiz-header">
            <h3 class="quiz-card-title">@@title</h3>

            <span class="quiz-category">Общие знания</span>
        </div>

        <div class="quiz-details">
            <div class="detail-item">
                <i class="far fa-calendar-alt"></i>
                <span class="color-accent">22 января, Чт, 19:00</span>
            </div>

            <div class="detail-item">
                <i class="fas fa-map-marker-alt"></i>
                <span class="color-info">Good Company</span>
            </div>

            <p style="margin-top: 10px; color: #667;">Вопросы от истории и науки до поп-культуры и спорта бросают вызов твоим знаниям обо всем на свете.</p>
        </div>


        <div class="quiz-footer">
            <div class="quiz-price">500 руб.</div>
            <div class="quiz-actions">
                <a href="https://vk.com/iquizchel?from=groups&ref=group_menu&w=app5619682_-231948743" class="link-signup" target="_blank">Записаться</a>
                <a href="@@link" class="link-details">Подробнее</a>
            </div>
        </div>
    </div>
</div>