<div class="quiz-card">
    <div class="quiz-badge completed">Завершен</div>
    <img src="/images/quiz1.png" alt="" class="quiz-card-image" />
    <div class="quiz-card-content">
        <div class="quiz-header">
            <h3 class="quiz-card-title">@@title</h3>
            <span class="quiz-category">Общие знания</span>
        </div>

        <div class="quiz-details">
            <div class="detail-item">
                <i class="far fa-calendar-alt"></i>
                <span>10 января, Сб, 19:00</span>
            </div>

            <div class="detail-item">
                <i class="fas fa-map-marker-alt"></i>
                <span class="color-info">Good Company</span>
            </div>
            <p style="margin-top: 10px; color: #667">
                Окунитесь в атмосферу советского детства и
                юности в 80-х: вспомните культовые фильмы,
                хиты, моду и символы этой яркой эпохи.
            </p>
        </div>

        <div class="quiz-footer">
            <div class="quiz-price completed">300 руб.</div>
            <div class="quiz-actions">
                <a href="@@link" class="link-details" >Подробнее</a>
            </div>
        </div>
    </div>
</div>