.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;

  & h2 {
    font-size: 1.8rem;
    color: var(--dark);
    display: flex;
    align-items: center;
    gap: 15px;

    & .section-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary);
      font-size: 1.8rem;
    }
  }
}