<header>
    <div class="container header-content">
        <div class="logo">
            <a href="/">
                <img src="/images/logo-w.png" alt="IQuiz лого">
            </a>
            <div class="logo-text">
                <h1 class="google-sans-bold">IQuiz</h1>
                <p>Интеллектуальные игры в барах города</p>
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="/" class="active"><i class="fas fa-home"></i> Главная</a></li>
                <li><a href="/quiz-list.html"><i class="fas fa-bars"></i> Квизы</a></li>
                <li><a href="/rating.html"><i class="fas fa-trophy"></i> Рейтинг</a></li>
                <li><a href="/maintance"><i class="fas fa-star"></i> Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>
