.google-sans-bold {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

.color-accent {
  color: var(--warning);
  font-weight: bold;
}